#btn_first, #btn_previous, #btn_pause, #btn_play, #btn_next, #btn_last {          
    -fx-background-size: 25 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;   
}

#btn_first {
	    -fx-background-image: url("first.png");
}

#btn_previous {
	    -fx-background-image: url("previous.png");
}

#btn_pause {
	    -fx-background-image: url("pause.png");
}

#btn_pause {
	    -fx-background-image: url("pause.png");
}

#btn_play {
	    -fx-background-image: url("play.png");
}

#btn_next {
	    -fx-background-image: url("next.png");
}

#btn_last {
	    -fx-background-image: url("last.png");
}